{%- set mail = item['mail'] -%}
{%- set server = item['server'] -%}
{%- set storage = item['storage'] -%}
{%- set database = item['database'] -%}
{
  "url": "{{ item['url'] | default('http://localhost:' + server['port'] | string) }}",
  "server": {
    "port": {{ server['port'] | default('2368') }},
    "host": "{{ server['host'] | default('127.0.0.1') }}"
  },
  "database": {
    "client": "{{ database['client'] | default('sqlite3') }}",
    "connection": {
      {%- if database['connection'] is defined -%}
      {%- set connection = database['connection'] -%}
      "host": "{{ connection['host'] | default('127.0.0.1') }}",
      "port": {{ connection['port'] | default(3306) }},
      "user": "{{ connection['user'] | default(omit)}}",
      "password": "{{ connection['password'] | default(omit)}}",
      "database": "{{ connection['database'] | default(omit)}}",
      {%- if database['pool'] is defined -%}
      "pool": {
        "min": {{ database['pool']['min'] | default(omit) }},
        "max": {{ database['pool']['max'] | default(omit) }},
        }
      {%- endif -%}
      {%- else -%}
      "filename": "{{ item['dir']}}/content/data/ghost-local.db"
      {%- endif -%}
    },
  },
  "mail": {
    {% if mail['options'] is defined %}
    {%- set options = mail['options'] -%}
    "options": {
      "service": "{{ options['service'] | default(omit) }}",
      "host": "{{ options['host'] | default(omit) }}",
      "port": {{ options['port'] | default(omit) }},
      "secure": {{ options['secure'] | default(omit) }},
      "auth": {
        "user": "{{ options['auth']['user'] | default(omit) }}",
        "pass": "{{ options['auth']['pass'] | default(omit) }}"
      }
    },
    {%- endif -%}
    {%- if mail['from'] is defined -%}
    "from": "{{ mail['from'] }}",
    {%- endif -%}
    "transport": "{{ mail['transport'] | default('Direct') }}"
  },
  {%- if storage is defined -%}
  "storage": {
    "active": "{{ storage['npm_package'] }}",
    "{{ storage['npm_package'] }}": {
      "accessKeyId": "{{ storage['accessKeyId'] }}",
      "secretAccessKey": "{{ storage['secretAccessKey'] }}",
      "assetHost": "https://{{ storage['bucket'] }}.{{ storage['endpoint'] }}",
      "bucket": "{{ storage['bucket'] }}",
      "endpoint": "{{ storage['endpoint'] }}"
    }
  },
  {%- endif -%}
  "logging": {
    "transports": [
      "file",
      "stdout"
    ]
  },
  "process": "local",
  "paths": {
    "contentPath": "{{ item['dir']}}/content"
  }
}
